<!-- Button trigger modal -->
<button type="button" class="btn float-right m-2 btn-primary"  data-toggle="modal"
 (click)="addClick()" data-backdrop="static" data-keyboard="false" data-target="#exampleModal">
    Add New Department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-dep [dep]="dep" *ngIf="ActivateAddEditComp"></app-add-edit-dep>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeClick()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of departmentData">
            <td>{{item.departmentId}}</td>
            <td>{{item.departmentName}}</td>
            <td>
                <button type="button" class="btn mr-2 btn-primary" data-toggle="modal" (click)="editClick(item)"
                    data-backdrop="static" data-keyboard="false" data-target="#exampleModal">
                    Edit
                </button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
